/*列表头部*/
#contain-head{
  width: 100%;
  height: 40px;
  margin-left: 4px;
  position: absolute;
}

#add-thing,#all-todo,#active,#completed{
  width: 24%;
  height: 35px;
  float : left;
  margin :0 2px;
  box-shadow: 0 0 2px 2px;
  background-color: #be8d64;
  color: white;
  border-radius:5px 5px 0 0;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}

#add-thing{
  background-color: #95be3a;
}

#active{
  background-color: #2cbe97;
}

#all-todo{
  background-color: #e7711e;
}

/*按钮选中*/
#contain-head .btn-selected{
  height:43px;
  transform: translate(0,-8px);
  line-height: 42px;
}